<div>
  <% if user_signed_in? %>
    <% if not favorite?(scholarship) %>
      <%= link_to scholarship_favorites_path(scholarship), method: :post, remote: true do %>
        <i class="fas fa-heart" style = "color: pink;"></i>
      <% end %>
    <% else %>
      <%= link_to scholarship_favorite_path(scholarship, current_user.favorites.find_by(scholarship: scholarship)), method: :delete, remote: true do %>
        <i class="fas fa-heart" style = "color: black;"></i>

      <% end %>
    <% end %>
  <% else %>
   <%= link_to scholarship_favorites_path(scholarship), method: :post, remote: true do %>
      <i class="fas fa-heart" style = "color: pink;"></i>
    <% end %>
  <% end %>
</div>
