@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.index-page {
  margin: 150px 12%;
  background: #e7e4e4;
  border-radius: 6px;
  padding: 25px;


}

.index-page h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #4d4d4d;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;

}
