.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-category:hover {
  opacity: 0.5;
}

  .filter a, .filter a:hover, .filter a:active, .filter a:visited, .filter a:focus {
    text-decoration: none;
  }

.filter-btn {
  background: transparent;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
}
