@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.navbar-lewagon {

  justify-content: space-between;
  background: #ffd1b3;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-lewagon .navbar-brand img {
  width: 35px;
  opacity: 100%;
}


.navbar-nav p {
margin-top: 10px;
margin-right: 8px;
font-size: 14px;
font-family: "Roboto", sans-serif;
color: #666666;

}
