@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
// CSS for the sentence Caroussel

* {box-sizing: border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background-color: #e7e4e4;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 50px;
  border-radius: 6px;

}

/* Slides */
.mySlides {
  display: none;
  position: relative;
  padding: 80px;
  text-align: center;
  &:hover {
    opacity: 0.5;
  }

}

.mySlides a {
  text-decoration: none;
}


.mySlides h5 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: #4d4d4d;
  font-weight: lighter;
}
.mySlides .icon-arrow {
  position: absolute;
  right:150px;
  top: 39%;
  font-size: 40px;
  color: #f8a978;
  font-weight: bold;
}

.mySlides .icon-list {
  position: absolute;
  right:150px;
  top: 39%;
  font-size: 35px;
  color: #f8a978;
  font-weight: bold;


}

.mySlides .icon-check {
  position: absolute;
  right:150px;
  top: 39%;
  font-size: 35px;
  color: #f8a978;
  font-weight: bold;

}
.mySlides .icon-heart {
  position: absolute;
  right:150px;
  top: 39%;
  font-size: 35px;
  color: #f8a978;
  font-weight: bold;

}

.mySlides .icon-bell {
  position: absolute;
  right:150px;
  top: 39%;
  font-size: 35px;
  color: #f8a978;
  font-weight: bold;

}

.mySlides .icon-star {
  position: absolute;
  right:150px;
  top: 39%;
  font-size: 35px;
  color: #f8a978;
  font-weight: bold;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}



